/* You can add global styles to this file, and also import other style files */
*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: 'Shippori Antique B1', sans-serif;
}

:root {
    --primary-color: #F27281;
    --primary-color-hover-dark: #dd5464;
    --primary-color-hover-light: #f08c98;

    --secondary-color: #F8B195;
    --secondary-color-hover-dark: #c76740; 
    --secondary-color-hover-light: #f5bca5;

    --tertiary-color: #345D7E; 
    --tertiary-color-hover-dark: #135a94; 
    --tertiary-color-hover-light: #5c7e99; 
}

html, body { height: 100%; }